*{
    padding: 0;
    margin: 0;
    /* height: 100%;
    width: 100%; */   
}

.arriba{
    width: 100%;
    height: 32vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;

}

.medio{
    width: 100%;
    height: 36vh;
    background-color: red;
}

.abajo{
    width: 100%;
    height: 32vh;
    background-color: blue;
}

.cuadrado {
    width: 30rem;          
    height: 5rem;          
    background: red; 
    display: flex;
    align-items: center;
    justify-content: center;       
  }

.cuadradito{
    width: 25rem;          
    height: 2rem;          
    background: white; 
    display: flex;
    align-items: center;
    justify-content: right;
}

.buscar{
    width: 3rem;          
    height: 2rem;          
    background: grey;
}

.section_a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea{
    width: 10rem;          
    height: 1rem;          
    background: grey;
    margin-top: 5%;
}

nav{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
